USE [master]
GO
/****** Object:  Database [Vacaciones]    Script Date: 6/10/2025 15:24:08 ******/
CREATE DATABASE [Vacaciones]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Vacaciones', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Vacaciones.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Vacaciones_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Vacaciones_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Vacaciones].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Vacaciones]
GO
/****** Object:  User [MECHNIKOV\j.vilchez]    Script Date: 6/10/2025 15:24:09 ******/
CREATE USER [MECHNIKOV\j.vilchez] FOR LOGIN [MECHNIKOV\j.vilchez] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [j.vilchez]    Script Date: 6/10/2025 15:24:09 ******/
CREATE USER [j.vilchez] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [MECHNIKOV\j.vilchez]
GO
/****** Object:  UserDefinedFunction [dbo].[fnCalcularDiasVacaciones]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 05/10/2025
-- Description:	funcion para  calcular los dias ganados de vacaciones entre 2 fechas
-- =============================================
CREATE FUNCTION [dbo].[fnCalcularDiasVacaciones]
(
	@fechaInicio date,
	@fechaFin	date
)
RETURNS float
AS
BEGIN
	declare @factorMes float = 2.5
	declare @fectorDia float =  round(@factorMes / 30,4)
	declare @vacacionesDias float = 0
	declare @dias int
	declare @fechaIciclo date = cast(year(@fechaInicio) as nvarchar) + '-'+ cast(month(@fechaInicio) as nvarchar) + '-01' 
	declare @fechaFciclo date =  dateadd(day,-1,dateadd(month,1, @fechaIciclo))

	--validar que la fecha inicio no sea mayor que la fecha fin
	if @fechaInicio < @fechaFin
	begin

		--ciclo para recorrer los meses entre fechas
		while(@fechaIciclo<@fechaFin)
		begin
			--validar que la fecha inicio no sea mayor a fecha, si es mayor se usa la fecha inicio
			if @fechaInicio>@fechaIciclo
				--validar que la fecha fin no sea menor a la fecha fin del ciclo
				if(@fechaFin<@fechaFciclo)
					set @dias = datediff(day,@fechaInicio,@fechaFin) + 1
				else
					set @dias = datediff(day,@fechaInicio,@fechaFciclo) + 1
			else
				--validar que la fecha fin no sea menor a la fecha fin del ciclo
				if(@fechaFin<@fechaFciclo)
					set @dias = datediff(day,@fechaIciclo,@fechaFin) + 1
				else
					set @dias = datediff(day,@fechaIciclo,@fechaFciclo) + 1
		
			--si el mes esta completo se asigna el factor del mes, si es febrero se valida en base a 28 dias
			if @dias >= 30 or (month(@fechaIciclo) = 2 and @dias >= 28)
				set @vacacionesDias += @factorMes
			else --si el mes no es completo se calcula en base al factor del dia
				set @vacacionesDias += @dias * @fectorDia
			
			--reasignar fechas ciclos
			set @fechaIciclo = dateadd(month,1,@fechaIciclo)
			set @fechaFciclo = dateadd(day,-1,dateadd(month,1, @fechaIciclo))
		end
	end

	return ROUND(@vacacionesDias,2)

END
GO
/****** Object:  UserDefinedFunction [dbo].[fnMesALetra]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:	convertir mes de numero a letras
-- =============================================
CREATE FUNCTION [dbo].[fnMesALetra]
(
	@mesNumero int
)
RETURNS nvarchar(20)
AS
BEGIN
	declare @mes nvarchar(20)

	set @mes = case @mesNumero when 1 then 'Enero'
							   when 2 then 'Febrero'
							   when 3 then 'Marzo'
							   when 4 then 'Abril'
							   when 5 then 'Mayo'
							   when 6 then 'Junio'
							   when 7 then 'Julio'
							   when 8 then 'Agosto'
							   when 9 then 'Septiembre'
							   when 10 then 'Octubre'
							   when 11 then 'Noviembre'
							   when 12 then 'Diciembre'
							   else 'No definido' end

	return @mes

END
GO
/****** Object:  Table [dbo].[ControlVacaciones]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ControlVacaciones](
	[idControlVacaciones] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[Mes] [nvarchar](20) NOT NULL,
	[MesNumero] [int] NOT NULL,
	[Anno] [int] NOT NULL,
	[FechaInicio] [date] NULL,
	[FechaFin] [date] NULL,
	[DiasGanados] [float] NULL,
	[DiasDescansados] [float] NULL,
	[Disponibles]  AS (round([DiasGanados]-[DiasDescansados],(2))),
	[Activo] [bit] NULL,
 CONSTRAINT [PK_ControlVacaciones] PRIMARY KEY CLUSTERED 
(
	[idControlVacaciones] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[NombreCompleto] [nvarchar](100) NOT NULL,
	[idTipoIdentificacion] [smallint] NOT NULL,
	[NumIdentificacion] [varchar](40) NOT NULL,
	[FechaIngreso] [date] NULL,
	[SalarioBase] [decimal](18, 2) NULL,
	[Direccion] [nvarchar](1000) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Empleado] PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoIdentificacion]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoIdentificacion](
	[idTipoIdentificacion] [smallint] IDENTITY(1,1) NOT NULL,
	[DescTipoIdentificacion] [nvarchar](50) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_TipoIdentificacion] PRIMARY KEY CLUSTERED 
(
	[idTipoIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](50) NULL,
	[Contraseña] [nvarchar](max) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VacacionesDescansadas]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VacacionesDescansadas](
	[idVacacionesDescansadas] [int] IDENTITY(1,1) NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Cantidad] [float] NOT NULL,
	[Descripcion] [nvarchar](1000) NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_VacacionesDescansados] PRIMARY KEY CLUSTERED 
(
	[idVacacionesDescansadas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ControlVacaciones] ON 

INSERT [dbo].[ControlVacaciones] ([idControlVacaciones], [idEmpleado], [Mes], [MesNumero], [Anno], [FechaInicio], [FechaFin], [DiasGanados], [DiasDescansados], [Activo]) VALUES (1, 1, N'Febrero', 2, 2025, CAST(N'2025-02-04' AS Date), CAST(N'2025-02-28' AS Date), 2.08, 0, 1)
INSERT [dbo].[ControlVacaciones] ([idControlVacaciones], [idEmpleado], [Mes], [MesNumero], [Anno], [FechaInicio], [FechaFin], [DiasGanados], [DiasDescansados], [Activo]) VALUES (2, 1, N'Marzo', 3, 2025, CAST(N'2025-03-01' AS Date), CAST(N'2025-03-31' AS Date), 2.5, 0, 1)
INSERT [dbo].[ControlVacaciones] ([idControlVacaciones], [idEmpleado], [Mes], [MesNumero], [Anno], [FechaInicio], [FechaFin], [DiasGanados], [DiasDescansados], [Activo]) VALUES (3, 1, N'Abril', 4, 2025, CAST(N'2025-04-01' AS Date), CAST(N'2025-04-30' AS Date), 2.5, 0, 1)
SET IDENTITY_INSERT [dbo].[ControlVacaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleado] ON 

INSERT [dbo].[Empleado] ([idEmpleado], [NombreCompleto], [idTipoIdentificacion], [NumIdentificacion], [FechaIngreso], [SalarioBase], [Direccion], [Activo]) VALUES (1, N'Monica Dayana Alvarez Guevara', 1, N'401-20101993', CAST(N'2025-02-04' AS Date), CAST(15000.00 AS Decimal(18, 2)), N'Managua residencial praderas el doral casa N204', 1)
INSERT [dbo].[Empleado] ([idEmpleado], [NombreCompleto], [idTipoIdentificacion], [NumIdentificacion], [FechaIngreso], [SalarioBase], [Direccion], [Activo]) VALUES (2, N'Vanesa Andrea Mercado Calderon', 2, N'C8275225', CAST(N'2025-03-19' AS Date), CAST(14523.00 AS Decimal(18, 2)), N'masaya parque 2 c arriba', 1)
INSERT [dbo].[Empleado] ([idEmpleado], [NombreCompleto], [idTipoIdentificacion], [NumIdentificacion], [FechaIngreso], [SalarioBase], [Direccion], [Activo]) VALUES (3, N'Mario Arturo Perez Ruiz', 1, N'408-021196-1234F', CAST(N'2025-06-10' AS Date), CAST(12300.00 AS Decimal(18, 2)), N'Masaya, iglesia san Jeronimo 2 c al oeste ', 1)
SET IDENTITY_INSERT [dbo].[Empleado] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoIdentificacion] ON 

INSERT [dbo].[TipoIdentificacion] ([idTipoIdentificacion], [DescTipoIdentificacion], [Activo]) VALUES (1, N'Cedula', 1)
INSERT [dbo].[TipoIdentificacion] ([idTipoIdentificacion], [DescTipoIdentificacion], [Activo]) VALUES (2, N'Pasaporte', 1)
SET IDENTITY_INSERT [dbo].[TipoIdentificacion] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([idUsuario], [Usuario], [Contraseña], [Activo]) VALUES (1, N'juan', N'7110eda4d09e062aa5e4a390b0a572ac0d2c0220', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[VacacionesDescansadas] ON 

INSERT [dbo].[VacacionesDescansadas] ([idVacacionesDescansadas], [idEmpleado], [Fecha], [Cantidad], [Descripcion], [Activo]) VALUES (1, 4, CAST(N'2025-10-03' AS Date), 1, N'medio dia a cuenta de vacaciones', 1)
INSERT [dbo].[VacacionesDescansadas] ([idVacacionesDescansadas], [idEmpleado], [Fecha], [Cantidad], [Descripcion], [Activo]) VALUES (2, 4, CAST(N'2025-10-06' AS Date), 1, N'gestiones personales', 1)
INSERT [dbo].[VacacionesDescansadas] ([idVacacionesDescansadas], [idEmpleado], [Fecha], [Cantidad], [Descripcion], [Activo]) VALUES (3, 4, CAST(N'2025-10-06' AS Date), 0.01, N'fsdf', 0)
SET IDENTITY_INSERT [dbo].[VacacionesDescansadas] OFF
GO
ALTER TABLE [dbo].[ControlVacaciones] ADD  CONSTRAINT [DF_ControlVacaciones_Activo]  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[Empleado] ADD  CONSTRAINT [DF_Empleado_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TipoIdentificacion] ADD  CONSTRAINT [DF_TipoIdentificacion_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[VacacionesDescansadas] ADD  CONSTRAINT [DF_VacacionesDescansados_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ControlVacaciones]  WITH CHECK ADD  CONSTRAINT [FK_ControlVacaciones_Empleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[ControlVacaciones] CHECK CONSTRAINT [FK_ControlVacaciones_Empleado]
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD  CONSTRAINT [FK_Empleado_TipoIdentificacion] FOREIGN KEY([idTipoIdentificacion])
REFERENCES [dbo].[TipoIdentificacion] ([idTipoIdentificacion])
GO
ALTER TABLE [dbo].[Empleado] CHECK CONSTRAINT [FK_Empleado_TipoIdentificacion]
GO
ALTER TABLE [dbo].[VacacionesDescansadas]  WITH CHECK ADD  CONSTRAINT [FK_VacacionesDescansados_Empleado] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[Empleado] ([idEmpleado])
GO
ALTER TABLE [dbo].[VacacionesDescansadas] CHECK CONSTRAINT [FK_VacacionesDescansados_Empleado]
GO
/****** Object:  StoredProcedure [dbo].[sp_calcular_vacaciones_empleado]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:	calcular vacaciones de empleado
-- =============================================
CREATE PROCEDURE [dbo].[sp_calcular_vacaciones_empleado]
	@idEmpleado int,
	@FechaInicio date,
	@FechaFin date
AS
BEGIN
	declare @fechaIngreso date

	--extraer la fecha ingreso del empleado
	select  @fechaIngreso = FechaIngreso from Empleado where idEmpleado = @idEmpleado

	--validar que que la fecha ingreso no sea mayor a la fecha inicio
	if @fechaIngreso> @FechaInicio
		set @FechaInicio = @fechaIngreso
	
	--variables para recorrer en el ciclo
	declare @fechaIciclo date = cast(year(@FechaInicio) as nvarchar) + '-'+ cast(month(@FechaInicio) as nvarchar) + '-01' 
	declare @fechaFciclo date =  dateadd(day,-1,dateadd(month,1, @fechaIciclo))

	--ciclo para recorrer los meses entre fechas
	while(@fechaIciclo<@fechaFin)
    begin
			
			declare @MesNumero int = month(@fechaIciclo)
			declare @Mes nvarchar(20) = dbo.fnMesALetra(@MesNumero)
			declare @Anno int = year(@fechaIciclo)
			declare @DiasDescansados float
			declare @Fecha date

			--validar que la fecha inicio ciclo no sea menor que la fecha inicio
			if @fechaIciclo<@FechaInicio
				set @Fecha = @FechaInicio
			else
				set @Fecha = @fechaIciclo
			
			--validar que la fecha fin del ciclo no sea mayor a la fecha fin
			if @fechaFciclo>@FechaFin
				set @fechaFciclo = @FechaFin

			--extraer los dias descansados del mes
			set @DiasDescansados = isnull((select sum(Cantidad) 
										   from VacacionesDescansadas 
										   where idEmpleado= @idEmpleado and Activo = 1 and month(Fecha) = month(@fechaIciclo) and year(Fecha) = year(@fechaIciclo)),0)
			
			--si existen registri se actualiza, si no, se inserta
			if exists(select * from ControlVacaciones where idEmpleado=@idEmpleado and MesNumero = @MesNumero and Anno = @Anno and Activo = 1)
				update ControlVacaciones set FechaInicio = @Fecha, FechaFin = @fechaFciclo, DiasGanados =  dbo.fnCalcularDiasVacaciones(@Fecha, @fechaFciclo), DiasDescansados=@DiasDescansados
				where idEmpleado =@idEmpleado and MesNumero = @MesNumero and Anno = @Anno
			else
				insert into ControlVacaciones(idEmpleado, Mes, MesNumero, Anno, FechaInicio, FechaFin, DiasGanados, DiasDescansados, Activo)
				values(@idEmpleado, @Mes, @MesNumero, @Anno, @Fecha, @fechaFciclo, dbo.fnCalcularDiasVacaciones(@Fecha, @fechaFciclo), @DiasDescansados, 1)

			--reasignar fechas ciclos
			set @fechaIciclo = dateadd(month,1,@fechaIciclo)
			set @fechaFciclo = dateadd(day,-1,dateadd(month,1, @fechaIciclo))
	end

END
GO
/****** Object:  StoredProcedure [dbo].[sp_delete_vacaciones_descansadas]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:elimina vacaciones descansadas
-- =============================================
CREATE PROCEDURE [dbo].[sp_delete_vacaciones_descansadas]
    @idVacacionesDescansadas int
AS
BEGIN

    update VacacionesDescansadas set Activo= 0
    where idVacacionesDescansadas = @idVacacionesDescansadas

END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_empleado]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 05/10/2025
-- Description:	inserta un empleado
-- =============================================
CREATE PROCEDURE [dbo].[sp_insert_empleado]
	@NombreCompleto	nvarchar(100),
	@idTipoIdentificacion	smallint,
	@NumIdentificacion	varchar(40),
	@FechaIngreso	date,
	@SalarioBase	decimal(18, 2),
	@Direccion	nvarchar(1000)
AS
BEGIN

	insert into empleado(NombreCompleto, idTipoIdentificacion, NumIdentificacion, FechaIngreso, SalarioBase, Direccion, Activo)
	values(@NombreCompleto, @idTipoIdentificacion, @NumIdentificacion, @FechaIngreso, @SalarioBase, @Direccion, 1)
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_vacaciones_descansadas]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:inserta vacaciones descansadas
-- =============================================
CREATE PROCEDURE [dbo].[sp_insert_vacaciones_descansadas]
    @idEmpleado	int,
    @Fecha	date,
    @Cantidad	float,
    @Descripcion	nvarchar(1000)	
AS
BEGIN

    insert into VacacionesDescansadas(idEmpleado, Fecha, Cantidad , Descripcion, Activo)
    values(@idEmpleado, @Fecha, @Cantidad , @Descripcion, 1)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_select_reporte_vacaciones]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:	muestra el control de vacaciones por empleado
-- =============================================
CREATE PROCEDURE [dbo].[sp_select_reporte_vacaciones]
	@idEmpleado int
AS
BEGIN
	
	SELECT        cv.idControlVacaciones, cv.idEmpleado, cv.Mes, cv.MesNumero, cv.Anno, cv.FechaInicio, cv.FechaFin, cv.DiasGanados, cv.DiasDescansados, cv.Disponibles, cv.Activo, e.NombreCompleto, e.NumIdentificacion, 
                         e.FechaIngreso, ti.DescTipoIdentificacion
	FROM            ControlVacaciones AS cv INNER JOIN
							 Empleado AS e ON cv.idEmpleado = e.idEmpleado INNER JOIN
							 TipoIdentificacion AS ti ON e.idTipoIdentificacion = ti.idTipoIdentificacion
	WHERE        (cv.Activo = 1) AND (cv.idEmpleado = @idEmpleado)

END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_empleado]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 05/10/2025
-- Description:	editar un empleado
-- =============================================
CREATE PROCEDURE [dbo].[sp_update_empleado]
	@idEmpleado int,
	@NombreCompleto	nvarchar(100),
	@idTipoIdentificacion	smallint,
	@NumIdentificacion	varchar(40),
	@FechaIngreso	date,
	@SalarioBase	decimal(18, 2),
	@Direccion	nvarchar(1000)
AS
BEGIN

	insert into empleado(NombreCompleto, idTipoIdentificacion, NumIdentificacion, FechaIngreso, SalarioBase, Direccion, Activo)
	values(@NombreCompleto, @idTipoIdentificacion, @NumIdentificacion, @FechaIngreso, @SalarioBase, @Direccion, 1)
	
END
GO
/****** Object:  StoredProcedure [dbo].[sp_update_vacaciones_descansadas]    Script Date: 6/10/2025 15:24:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lic. Juan Francisco Vílchez
-- Create date: 06/10/2025
-- Description:actualiza vacaciones descansadas
-- =============================================
CREATE PROCEDURE [dbo].[sp_update_vacaciones_descansadas]
    @idVacacionesDescansadas int,
    @Fecha	date,
    @Cantidad	float,
    @Descripcion	nvarchar(1000)	
AS
BEGIN
   
   update VacacionesDescansadas set Fecha = @Fecha, Cantidad = @Cantidad , Descripcion= @Descripcion
   where idVacacionesDescansadas = @idVacacionesDescansadas

END
GO
USE [master]
GO
