<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB.My.MySettings.VacacionesConexion" connectionString="Data Source=IT-LPT-PROGRAM2;Initial Catalog=Vacaciones;Persist Security Info=True;User ID=sa;Password=1234;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
    <add name="VacacionesEntities" connectionString="metadata=res://*/DataBase.VacacionesDB.csdl|res://*/DataBase.VacacionesDB.ssdl|res://*/DataBase.VacacionesDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-LPT-PROGRAM2;initial catalog=Vacaciones;persist security info=True;user id=sa;password=1234;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>